body {
  padding: 20px;
}

#footer {
  text-align: center;
  padding:20px 0;
}

.mruField {
  width: calc(100% - 150px) !important;
  max-width: 200px;
}

.mruField .ui.basic.label {
  width: 55px!important;
  text-align: center;
}

.main-header {
  margin-bottom: 50px;
  margin-top: 30px;
}

#language-switch {
  position: absolute;
  top: 44px;
  right: 14px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  margin-bottom: 3px;
}

.inline-unity {
  padding-left: 5px;
}
